body {
  margin: 0;
  padding: 0;
  font-family: Mina, sans-serif;
  background-image: linear-gradient(
    to bottom,
    #c9bbcf,
    #c6c9de,
    #c5d7e7,
    #cae4eb,
    #d6efed
  );
  min-height: 100vh;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  padding: 10px 0;
  text-align: center;
  justify-content: center;
}

.navbar_container {
  padding: 20px;
  width: 25rem;
  transition: background-color 0.3s ease;
  border-radius: 16px;
}

.navbar_container.scrolled {
  /* LITE STUTTER NÄR SCROLLAR, UPPDATERA DETTA */
  background: rgba(255, 255, 255, 0.33);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.59);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
}

main {
  display: grid;
  grid-template-rows: 1fr auto;
  padding: 60px;
}
.hero_container {
  padding: 10rem 20px;
  text-align: center;
}

.hero_content {
  max-width: 800px;
  margin: 0 auto;
}

.hero_content h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.hero_content p {
  font-size: 1.1em;
}

.sql_container {
  display: grid;
  grid-template-columns: 25% 75%; /* Two columns: 25% for code, 75% for diagram */
  height: 40rem;
  gap: 40px;
  margin: 0 8%;
  justify-content: center;
}

.sql_container h1 {
  font-size: 1.5rem;
}

.code_content,
.diagram_content {
  background: rgba(175, 163, 214, 0.33);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 2px solid rgba(175, 163, 214, 0.59);
  height: 100%;
}

.code_container {
  width: 100%;
  height: 100%;
  margin-right: auto;
  justify-content: center;
  margin: 0;
}

.code_container h1 {
  margin: 0 auto;
  align-items: center;
}

.code_content {
  width: 100%;
  justify-content: center;
  position: relative; /* Enable positioning */
  height: 80%; /* Adjust height to fit the textarea and buttons */
}

textarea {
  width: calc(100% - 22px); /* Adjust width to fit border to border */
  height: calc(100% - 22px); /* Adjust height to fit border to border */
  padding: 10px;
  border-radius: 16px;
  border: 1px solid rgba(175, 163, 214, 0.59); /* Remove border */
  resize: none;
  background: transparent; /* Make the background transparent */
  outline: none; /* Remove the default textarea outline */
  font-size: 0.9rem;
}

.diagram_container {
  width: 100%;
  max-width: 100%; /* Set maximum width to 100% */
  height: auto; /* Reset height to auto */
  margin: 0 auto; /* Center the diagram container horizontally */
  /*max-height: 40rem; /* Set maximum height */
  /*overflow: visible; /* Add overflow auto to allow scrolling if needed */
}

.diagram_container h1 {
  margin: 0 auto;
}

.diagram_content {
  max-height: 93%;
  overflow: auto; /* Add overflow auto to allow scrolling if needed */
}

.buttons {
  text-align: center;
  position: absolute; /* Position the buttons relative to code_content */
  left: 0; /* Align the buttons to the left */
  width: 100%; /* Ensure buttons span the entire width */
  padding: 10px; /* Add padding for spacing */
  box-sizing: border-box; /* Include padding in the width calculation */
  text-align: center; /* Center align the buttons */
}

.additional_boxes {
  background: linear-gradient(
    to bottom,
    #c9bbcf,
    #c6c9de,
    #c5d7e7,
    #cae4eb,
    #d6efed
  );
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.box {
  width: calc(33.33% - 20px); /* Adjust width as needed */
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

button {
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  background-color: rgba(
    175,
    163,
    214,
    0.59
  ); /* KÖR SAMMA FÄRG SOM NAVBAR LÄNKAR*/
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: rgba(175, 163, 214, 2);
}

footer {
  width: 100%;
  height: 100%;
  padding: 20px 0;
  text-align: center;
}

.extra_container {
  width: 25%; /* Set width to approximately 1/4 of the footer */
  float: right; /* Float the element to the left */
}

footer ul li {
  list-style: none;
  font-size: 1.1rem;
  margin-top: 15px;
}

footer ul li a {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
}
