body {
  margin: 0;
  padding: 0;
  font-family: Mina, sans-serif;
  background-color: #fefbe7;
  min-height: 100vh;
}
/*OLD fff3cf, NEW fcf4dc*/
.divider {
  border: 1px solid #000000; /* Add a 1px solid border at the bottom */
  margin: 0 20px;
}

.navbar {
  display: flex;
  justify-content: space-between; /* To push title and links to opposite ends */
  align-items: center;
  padding: 20px 20px;
}
.navbar_title {
  font-size: 2rem;
  margin: 0px 1rem;
}

.navbar_container {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  align-items: center;
  width: 25rem;
  border-radius: 16px;
  flex: 1; /* Take up remaining space */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-left: 20px;
  text-decoration: none;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1.1rem;
}

main {
  display: grid;
  grid-template-rows: 1fr auto;
}
.hero_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10rem 20px;
}

.hero_text {
  padding-right: 20px; /* Add spacing between text and blank div */
}

.hero_text h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.hero_content p {
  font-size: 1.1em;
}

.hero_example_container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
  font-size: 30px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: inset -5px -5px 10px 0px rgba(255, 255, 255, 0.5),
    inset 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.sql_container {
  display: grid;
  grid-template-columns: 25% 75%; /* Two columns: 25% for code, 75% for diagram */
  height: 40rem;
  gap: 40px;
  margin: 0 8%;
  padding-bottom: 5rem;
  position: relative;
}

.sql_container h1 {
  font-size: 1.5rem;
}

.shadow {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0); /* Adjust opacity as needed */
  border-radius: 16px;
  z-index: -1;
}

.code_content,
.diagram_content {
  background-color: #fde5e5; /* Adjust background color */
  border-radius: 16px;
  border: 2px solid #000000; /* Adjust border color */
}

.code_container {
  width: 100%;
  height: 100%;
  margin-right: auto;
  justify-content: center;
  margin: 0;
  position: relative;
}

.code_container h1 {
  margin: 0 auto;
  align-items: center;
}

.code_content {
  width: 100%;
  justify-content: center;
  position: relative; /* Enable positioning */
  height: 80%; /* Adjust height to fit the textarea and buttons */
}

textarea {
  width: calc(100% - 22px); /* Adjust width to fit border to border */
  height: calc(100% - 22px); /* Adjust height to fit border to border */
  padding: 10px;
  border-radius: 10px;
  resize: none;
  background: transparent; /* Make the background transparent */
  outline: none; /* Remove the default textarea outline */
  font-size: 0.9rem;
}

.diagram_container {
  width: 100%;
  margin: 0 auto; /* Center the diagram container horizontally */
}

.diagram_container h1 {
  margin: 0 auto;
}

.diagram_content {
  height: 93%;
  position: relative;
}

.infoboxes {
  padding: 5rem;
}

.infoboxes_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Equal width columns by default */
  grid-auto-rows: minmax(150px, auto); /* Flexible rows */
  gap: 30px; /* Spacing between boxes */
  padding-top: 1rem;
}

.container {
  position: relative;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.hidden {
  opacity: 0; /* Set opacity to 0 when hidden */
  pointer-events: none; /* Disable pointer events when hidden */
}

#entities .info_box {
  background-color: #d7e8c8;
}
#relationships .info_box {
  background-color: #b1d0d6;
}
#attributes .info_box {
  background-color: #f5ddbd;
}

.info_box {
  padding: 32px;
  border: 2px solid #000000;
  border-radius: 16px;
  transition: ease 0.3s;
}

.info_box:hover {
  transform: scale(1.06); /* Enlarge the box on hover */
}

/* BUTTONS */
.buttons {
  text-align: center;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-family: inherit;
  font-size: 0.8rem;
  margin: 5px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1em 1.5em;
  border: 2px solid;
  border-radius: 10px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1),
    -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    background 150ms cubic-bezier(0, 0, 0.58, 1),
    -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}

button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  -webkit-transform: translate3d(0, 0.75em, -1em);
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    box-shadow 150ms cubic-bezier(0, 0, 0.58, 1),
    -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1),
    -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button:hover {
  transform: translate(0, 0.25em);
}

button:hover::before {
  -webkit-transform: translate3d(0, 0.5em, -1em);
  transform: translate3d(0, 0.5em, -1em);
}

button.generic_btn:active {
  -webkit-transform: translate(0em, 0.75em);
  transform: translate(0em, 0.75em);
}

button.generic_btn:active::before {
  -webkit-transform: translate3d(0, 0, -1em);
  transform: translate3d(0, 0, -1em);
}

button.pressed {
  transform: translate(0em, 0.75em);
}

button.pressed::before {
  transform: translate3d(0, 0, -1em);
}

.generic_btn {
  background-color: #fff0f0;
  border-color: #b18597;
}

.generic_btn::before {
  background: #f9c4d2;
  -webkit-box-shadow: 0 0 0 2px #b18597;
  box-shadow: 0 0 0 2px #b18597;
}

/* Custom colors for buttons*/
#entities_btn {
  background-color: #d7e8c8;
  border-color: #acb9a0;
}

#entities_btn::before {
  background: #d7e8c8;
  -webkit-box-shadow: 0 0 0 2px #acb9a0;
  box-shadow: 0 0 0 2px #acb9a0;
}

#relationships_btn {
  background-color: #b1d0d6;
  border-color: #869fa4;
}

#relationships_btn::before {
  background: #b1d0d6;
  -webkit-box-shadow: 0 0 0 2px #869fa4;
  box-shadow: 0 0 0 2px #869fa4;
}

#attributes_btn {
  background-color: #f5ddbd;
  border-color: #cbb79c;
}

#attributes_btn::before {
  background: #f5ddbd;
  -webkit-box-shadow: 0 0 0 2px #cbb79c;
  box-shadow: 0 0 0 2px #cbb79c;
}

.links {
  background: linear-gradient(to bottom, #e7be7c 0%, #e7be7c 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  color: #000;
  text-decoration: none;
  transition: background-size 0.3s;
}

.links:hover {
  background-size: 4px 50px;
}

footer {
  width: 100%;
  height: 100%;
  padding: 20px 0;
  text-align: center;
}

.extra_container {
  width: 25%; /* Set width to approximately 1/4 of the footer */
  float: right; /* Float the element to the left */
}

footer ul li {
  list-style: none;
  font-size: 1.1rem;
  margin-top: 15px;
}

footer ul li a {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
}
